# We would like all files, including the built ones, to be deployed.
deploy-all-files=true

engine-strict=true

# Required for "pnpm deploy" to work in the fast mode (without re-resolving all
# dependencies, using the existing lockfile).
inject-workspace-packages=true
# Additionally, we have to list all possible prep scripts so that pnpm re-syncs
# the workspace packages after the scripts are executed.
sync-injected-deps-after-scripts[]=prep
sync-injected-deps-after-scripts[]=prep:composer
sync-injected-deps-after-scripts[]=prep:database
sync-injected-deps-after-scripts[]=prep:vite
sync-injected-deps-after-scripts[]=prep:scripts
sync-injected-deps-after-scripts[]=prep:app
sync-injected-deps-after-scripts[]=prep:server
sync-injected-deps-after-scripts[]=prep:codegen
sync-injected-deps-after-scripts[]=prep:types

overrides[]=gatsby-plugin-sharp:5.13.1
overrides[]=graphql:16.8.1
