<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
  bootstrap="web/core/tests/bootstrap.php"
  colors="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  beStrictAboutOutputDuringTests="true"
  beStrictAboutChangesToGlobalState="true"
>
  <php>
    <env name="SIMPLETEST_DB" value="sqlite://localhost/sites/default/files/.sqlite"/>
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory>../../packages/*/tests/Unit</directory>
      <directory>../../packages/*/*/tests/Unit</directory>
      <directory>../../packages/*/*/*/tests/src/Unit</directory>
      <directory>../../packages/*/*/*/*/tests/src/Unit</directory>
    </testsuite>
    <testsuite name="integration">
      <directory>../../packages/*/tests/Kernel</directory>
      <directory>../../packages/*/*/tests/Kernel</directory>
      <directory>../../packages/*/*/*/tests/src/Kernel</directory>
      <directory>../../packages/*/*/*/*/tests/src/Kernel</directory>
      <directory>../../packages/*/tests/Functional</directory>
      <directory>../../packages/*/*/tests/Functional</directory>
      <directory>../../packages/*/*/*/tests/src/Functional</directory>
      <directory>../../packages/*/*/*/*/tests/src/Functional</directory>
      <directory>../../packages/*/tests/FunctionalJavascript</directory>
      <directory>../../packages/*/*/tests/FunctionalJavascript</directory>
      <directory>../../packages/*/*/*/tests/src/FunctionalJavascript</directory>
      <directory>../../packages/*/*/*/*/tests/src/FunctionalJavascript</directory>
    </testsuite>
  </testsuites>
</phpunit>
