<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
  bootstrap="web/core/tests/bootstrap.php"
  colors="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  beStrictAboutOutputDuringTests="true"
  beStrictAboutChangesToGlobalState="true"
>
  <php>
    <env name="SIMPLETEST_DB" value="sqlite://localhost/sites/default/files/.sqlite"/>
    <env name="SIMPLETEST_BASE_URL" value="http://localhost:8888"/>
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory>../../packages/*/*/Unit</directory>
      <directory>../../packages/*/*/*/Unit</directory>
      <directory>../../packages/*/*/*/*/Unit</directory>
      <directory>../../packages/*/*/*/*/*/Unit</directory>
      <directory>../../packages/*/*/*/*/*/*/Unit</directory>
      <directory>../../packages/*/*/*/*/*/*/*/Unit</directory>
      <directory>../../packages/*/*/*/*/*/*/*/*/Unit</directory>
    </testsuite>
    <testsuite name="integration">
      <directory>../../packages/*/*/Kernel</directory>
      <directory>../../packages/*/*/*/Kernel</directory>
      <directory>../../packages/*/*/*/*/Kernel</directory>
      <directory>../../packages/*/*/*/*/*/Kernel</directory>
      <directory>../../packages/*/*/*/*/*/*/Kernel</directory>
      <directory>../../packages/*/*/*/*/*/*/*/Kernel</directory>
      <directory>../../packages/*/*/*/*/*/*/*/*/Kernel</directory>
      <directory>../../packages/*/*/Functional</directory>
      <directory>../../packages/*/*/*/Functional</directory>
      <directory>../../packages/*/*/*/*/Functional</directory>
      <directory>../../packages/*/*/*/*/*/Functional</directory>
      <directory>../../packages/*/*/*/*/*/*/Functional</directory>
      <directory>../../packages/*/*/*/*/*/*/*/Functional</directory>
      <directory>../../packages/*/*/*/*/*/*/*/*/Functional</directory>
      <directory>../../packages/*/*/FunctionalJavascript</directory>
      <directory>../../packages/*/*/*/FunctionalJavascript</directory>
      <directory>../../packages/*/*/*/*/FunctionalJavascript</directory>
      <directory>../../packages/*/*/*/*/*/FunctionalJavascript</directory>
      <directory>../../packages/*/*/*/*/*/*/FunctionalJavascript</directory>
      <directory>../../packages/*/*/*/*/*/*/*/FunctionalJavascript</directory>
      <directory>../../packages/*/*/*/*/*/*/*/*/FunctionalJavascript</directory>
    </testsuite>
  </testsuites>
</phpunit>
